.login {
  display: grid;
  place-items: center;
}

.login-container {
  background-color: #f8f8f8;
  margin-left: 20vw;
  height: 50vh;
  width: 50vw;
  display: grid;
  place-items: center;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
}

.login-container > img {
  object-fit: contain;
  height: 25vh;
  margin-bottom: 20px;
}

.login-container > button {
  text-transform: inherit !important;
  background-color: #a0d7d3 !important;
  color: white;
}

.google {
  height: 25px;
  width: 25px;
}

.login-text {
}
